<script src="{{ url_for('static', path='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', path='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', path='assets/js/isotope.min.js') }}"></script>
<script src="{{ url_for('static', path='assets/js/owl-carousel.js') }}"></script>
<script src="{{ url_for('static', path='assets/js/tabs.js') }}"></script>
<script src="{{ url_for('static', path='assets/js/popup.js') }}"></script>
<script src="{{ url_for('static', path='assets/js/custom.js') }}"></script>