{% extends 'setup/layout.html' %}

{% block title %}
Tutorial
{% endblock title %}

{% block main %}
<div class="page-heading normal-space">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h3 class="mb-3">
					I nostri tutorial
				</h3>
			</div>
		</div>
	</div>
</div>
{% endblock main %}

{% block main_body %}
<div class="item-details-page">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="categories">
					<div class="row">
						{% for category in categories %}
						<div class="col-6 mb-4">
							<a href="/tutorial/basic/">
								<div class="item">
									<div class="icon">
										<img src="/static/assets/images/{{ category.icon }}" alt="">
									</div>
									<h4 class="mb-0">
										{{ category.name }}
									</h4>
								</div>
							</a>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock main_body %}